<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login Page</title>
</head>

<body>

    <h1>Login Page</h1>

    <form action="/submit" method="post">

        <label>Username</label><br>
        <input type="text" name="username" placeholder="Enter Username"><br><br>

        <label>Password</label><br>
        <input type="password" name="password" placeholder="Enter Password"><br><br>

        <button type="submit">Login</button>

    </form>

</body>

</html>